.nav-bar {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    a {
    background: #808080c7;
    width: 150px;
    margin: 6px;
    text-align: center;
    padding: 10px;
    border: 1px black;
    color: white;
    text-decoration: none;
    }
}